body {
}

#container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    font-size: 20px;
    /*font-family: bold, Roboto, serif;*/
    background: rgba(211, 211, 211, 0.53);


}

#container header {
    height: 100px;
    font-size: 45px;
    background: #d3d3d3;
    border: 1px solid black;
    font-weight: bold;
    margin: 3px;

}


#container #main {
    display: flex;
    margin: 3px;

}

#container #main #left-menu p {
    font-weight: bold;
}

#container #main #left-menu {
    background: #eee8aa;
    height: 200px;
    width: 150px;
    border: 1px solid black;
    margin: 1px;


}

#container #main #left-menu ul {
    margin-top: -15%;
}

#container #main #left-menu p {
    margin-top: -1%;
}

#container #main #left-menu li {
    list-style: none;
    margin-left: -42%;

}

#container #main #content {
    width: 750px;
    border: 1px solid black;
    margin: 1px;
    background: white;


}

#container footer {
    height: 25px;
    background: #d3d3d3;
    border: 1px solid black;
    text-align: center;
    /*font-weight: bold;*/
    margin: 2px;

}
