body{
}

#container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #e2e2e2;
    font-size: 30px ;
    font-family: bold, Roboto, serif;
    font-weight: bold;
    text-align: center;
    /*height: 200px;*/


}
#container header{
    height: 100px;
    /*background: #d6e8ff;*/
    text-align: center;
    border: 1px solid #2a2626;
    align-items: center;
    display: flex;
    justify-content: center




}
#container nav{
    /*height: 100px;*/
    /*background: #e0caca;*/
    border: 1px solid #2a2626;
    align-items: center;
    display: flex;
    justify-content: center



}

#container #main{
    /*overflow: auto;*/
    /*height: 100px;*/

}
#container #main #left-menu{
    width: 173px;
    /*background: #fdedc6;*/
    float: left;
    border: 1px solid #2a2626;
    height: 400px;

    align-items: center;
    display: flex;
    justify-content: center

}

#container #main #content{
    width: 1025px;
    /*background: #b3b7bb;*/
    float: right;
    border: 1px solid #2a2626;
    height: 400px;
    align-items: center;
    display: flex;
    justify-content: center

}
#container footer{
    height: 100px;
    /*background: #b2d4aa;*/
    border: 1px solid #2a2626;
    align-items: center;
    display: flex;
    justify-content: center


}
