body {
    background: white;
}

#container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    font-weight: lighter;
    /*font-family: bold, Roboto, serif;*/


}

header {
    height: 120px;
    width: 900px;
    background: #c4996c;
    border: 2px solid black;
    text-align: center;
    margin-bottom: 20px;
    color: white;

    align-items: center;
    /*display: flex;*/
    justify-content: center
}

header h1 {
    font-size: 30px;
    margin-top: 15px;
    font-weight: normal;

}


#company {
    height: 400px;
    width: 900px;
    border: 2px solid black;
    text-align: center;
    background: #a8a9ad;
    color: white;
    align-items: center;
    /*display: flex;*/
    justify-content: center;

}

#company h1 {
    margin-top: 100px;
    font-weight: normal;

}

#main {
    background: white;
}

#company p {
    margin-top: 70px;
}

#our-services {
    width: 900px;
    height: 120px;
    text-align: center;
    font-size: 35px;
    font-weight: normal;

}

#row1 {
    display: flex;
    color: white;


}

#row2 {
    display: flex;
    margin-top: 100px;;
}

.services {
    width: 180px;
    height: 220px;
    text-align: center;
    background: #a8a9ad;
    border: 2px solid black;
    margin-left: 90px;
    align-items: center;
    /*display: flex;*/
    justify-content: center;

}

.services h1 {
    margin-top: 60px;
    font-size: 30px;
    font-weight: lighter;
}

.services p {
    margin-bottom: -1px;
    font-size: 20px;
}

footer {
    border: 2px solid black;
    margin-top: 30px;
    background: #115d7f;
    width: 900px;
    height: 120px;
    color: white;

    text-align: center;
    justify-content: center
}
footer h1{
    margin-top: 20px;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: -5px;
}

