body {
    background: #ffffff;
    font-family: Tahoma, Consolas, Verdana, serif;

}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#section_normal_1 {
    height: 80px;
    background: #d9d9d9;
}

.header_style {

    background: #ffffff;
}

.header_style .container {
    height: 75px;
    background: #ffffff;

}

#section_normal_1 .one-third {
    float: left;
    text-align: center;
    line-height: 75px;

}

#section_normal_1 .container .sixteen .two-thirds {
    float: right;
    display: flex;
    line-height: 75px;
    color: #c9c3c3;

}

#section_normal_1 .htext_style {
    line-height: 60px;
    margin-right: 20px;
}

#section_normal_1 .slow_fade {
    margin-right: 5px;
}

#section_normal_4_2 {
    background: #333333;
}

#section_normal_4_2 .container {
    height: 650px;

}

#section_normal_4_2 .container .sixteen {
    display: flex;


}

#section_normal_4_2 .container .sixteen .eight {
    margin-top: 6%;

}

#section_normal_4_2 .container .sixteen .eight:first-child {

    padding-right: 40px;
}

#section_normal_4_2 .omega {
    width: 550px;


}

#section_normal_4_2 .blue_text {
    color: #00b0da;
    font-weight: bolder;
    font-size: 25px;

}

#section_normal_4_2 .big_title {
    color: #ffffff;
    font-size: 60px;
    margin-top: 20px;

}

#section_normal_4_2 .normal_text {
    margin-top: -30px;
    font-size: 20px;
    color: rgba(206, 199, 199, 0.82);
    line-height: 30px;

}

#section_normal_4_2 .pix_button {
    position: absolute;
    /*top:50%;*/
    background-color: #2dc0e8;
    font-weight: bolder;
    font-size: 18px;
    color: #fff;
    /*border:none;*/
    border-radius: 3px;
    padding: 15px;
    min-height: 20px;
    min-width: 150px;
    text-align: center;
    text-decoration: none;

}

#section_normal_6 {
    background-color: #c9c3c3;;
    text-align: center;

    height: 400px;
}

#section_normal_6 .envato_unbounce {
    background-color: #eeeeee;
    height: 395px;
}


#section_normal_6 .L1_style {
    font-size: 30px;
    color: #606060;
}

#section_normal_6 .L2_style {
    font-size: 18px;
    margin-top: -10px;
    margin-bottom: 50px;
    color: #b2aeae;
    font-weight: lighter;
}

#section_normal_6 .alpha {
    float: left;
    background-color: #ffffff;
    height: 145px;
    width: 580px;
    display: flex;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 2px 2px 2px #c9c3c3;


}

#section_normal_6 .b_style {
    background-color: #f5f5f5;
    width: 100px;


}

#section_normal_6 .b_style img {
    border-radius: 100px;
    margin-top: 35px;
    margin-left: 12px;


}

#section_normal_6 .txt_style {
    color: #868383;
    width: 480px;

}

#section_normal_6 .box_1 {
    text-align: left;


}

#section_normal_6 .box_2 {
    text-align: left;


}

#section_normal_6 .txt {
    width: 420px;
    margin-top: 30px;
    margin-left: 40px;
    line-height: 30px;

}

#section_normal_6 .stars_span {

    margin-left: 40px;
}


#section_normal_6 .stars_span .pix_text {

    color: #00b0da;
}


#section_normal_6 .pix_builder_bg {
    display: flex;


}

#section_normal_6 .omega {
    float: right;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px #c9c3c3;
    border-radius: 10px;
    height: 145px;
    width: 580px;
    display: flex;
    font-size: 18px
}

#section_agency_5 {
    text-align: center;
}

#section_agency_5 .f1_style {
    padding: 50px 0px 30px 0px;
}

#section_agency_5 .f1_style .pix_text {

    font-size: 35px;
    color: #72a87d;

}

#section_agency_5 .f2_style {
    width: 650px;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 60px 0px;
}

#section_agency_5 .f2_style .pix_text {

    font-size: 20px;
    color: #c9c3c3;
}

#section_agency_5 .second_link {
    height: 100px;
}



#section_agency_5 .get_2_btn a {
    font-size: 25px;
    color: #508e5e;
    font-weight: bolder;
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
    border: 3px solid #508e5e;

    padding: 30px 50px 30px 50px;
}
.rights_st{
    font-size: 18px;
    color: #c9c3c3;
    line-height: 30px;
    ;
}
.pixfort_st {
    color: #58a268;
    font-weight: bolder;

}
.center_btn {
    padding:30px ;
}




