.container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
}
.container button{
    width: 200px;
    height: 50px;

}
.container .blue{
    background-color: blue;
}
.container .red{
    background-color: red;
}
.container .white{
    background-color: white;
}
.container .green{
    background-color: green;
}
.container .yellow{
    background-color: yellow;
}
.container .brown{
    background-color: brown;
}