#in_ra{
    font-size: 40px;
    font-weight: bold;
    color: orange;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    text-align: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}