.button {
    padding: 30px;
    font-size: 20px;
    cursor: pointer;

}

.button:hover {
    background-color: orange;
}

/*row1*/
#btn1 {
    position: absolute;
    left: 0px;
    top: 0px;
}

#btn2 {
    position: absolute;
    left: 100px;
    top: 0px;
}

#btn3 {
    position: absolute;
    left: 200px;
    top: 0px;
}

#btn4 {
    position: absolute;
    left: 300px;
    top: 0px;
}

#btn5 {
    position: absolute;
    left: 400px;
    top: 0px;
}

#btn6 {
    position: absolute;
    left: 500px;
    top: 0px;
}

#btn7 {
    position: absolute;
    left: 600px;
    top: 0px;
}

#btn8 {
    position: absolute;
    left: 700px;
    top: 0px;
}

#btn9 {
    position: absolute;
    left: 800px;
    top: 0px;
}

#btn10 {
    position: absolute;
    left: 900px;
    top: 0px;
}

#btn11 {
    position: absolute;
    left: 1000px;
    top: 0px;
}

#btn12 {
    position: absolute;
    left: 1100px;
    top: 0px;
}

#btn13 {
    position: absolute;
    left: 1200px;
    top: 0px;
}

#btn14 {
    position: absolute;
    left: 1300px;
    top: 0px;
}

#btn15 {
    position: absolute;
    left: 1400px;
    top: 0px;
}

/*row2*/
#btn16 {
    position: absolute;
    left: 0px;
    top: 100px;
}

#btn17 {
    position: absolute;
    left: 100px;
    top: 100px;
}

#btn18 {
    position: absolute;
    left: 200px;
    top: 100px;
}

#btn19 {
    position: absolute;
    left: 300px;
    top: 100px;
}

#btn20 {
    position: absolute;
    left: 400px;
    top: 100px;
}

#btn21 {
    position: absolute;
    left: 500px;
    top: 100px;
}

#btn22 {
    position: absolute;
    left: 600px;
    top: 100px;
}

#btn23 {
    position: absolute;
    left: 700px;
    top: 100px;
}

#btn24 {
    position: absolute;
    left: 800px;
    top: 100px;
}

#btn25 {
    position: absolute;
    left: 900px;
    top: 100px;
}

#btn26 {
    position: absolute;
    left: 1000px;
    top: 100px;
}

#btn27 {
    position: absolute;
    left: 1100px;
    top: 100px;
}

#btn28 {
    position: absolute;
    left: 1200px;
    top: 100px;
}

#btn29 {
    position: absolute;
    left: 1300px;
    top: 100px;
}

#btn30 {
    position: absolute;
    left: 1400px;
    top: 100px;
}

/*row3*/
#btn31 {
    position: absolute;
    left: 0px;
    top: 200px;
}

#btn32 {
    position: absolute;
    left: 100px;
    top: 200px;
}

#btn33 {
    position: absolute;
    left: 200px;
    top: 200px;
}

#btn34 {
    position: absolute;
    left: 300px;
    top: 200px;
}

#btn35 {
    position: absolute;
    left: 400px;
    top: 200px;
}

#btn36 {
    position: absolute;
    left: 500px;
    top: 200px;
}

#btn37 {
    position: absolute;
    left: 600px;
    top: 200px;
}

#btn38 {
    position: absolute;
    left: 700px;
    top: 200px;
}

#btn39 {
    position: absolute;
    left: 800px;
    top: 200px;
}

#btn40 {
    position: absolute;
    left: 900px;
    top: 200px;
}

#btn41 {
    position: absolute;
    left: 1000px;
    top: 200px;
}

#btn42 {
    position: absolute;
    left: 1100px;
    top: 200px;
}

#btn43 {
    position: absolute;
    left: 1200px;
    top: 200px;
}

#btn44 {
    position: absolute;
    left: 1300px;
    top: 200px;
}

#btn45 {
    position: absolute;
    left: 1400px;
    top: 200px;
}

/*row4*/
#btn46 {
    position: absolute;
    left: 0px;
    top: 300px;
}

#btn47 {
    position: absolute;
    left: 100px;
    top: 300px;
}

#btn48 {
    position: absolute;
    left: 200px;
    top: 300px;
}

#btn49 {
    position: absolute;
    left: 300px;
    top: 300px;
}

#btn50 {
    position: absolute;
    left: 400px;
    top: 300px;
}

#btn51 {
    position: absolute;
    left: 500px;
    top: 300px;
}

#btn52 {
    position: absolute;
    left: 600px;
    top: 300px;
}

#btn53 {
    position: absolute;
    left: 700px;
    top: 300px;
}

#btn54 {
    position: absolute;
    left: 800px;
    top: 300px;
}

#btn55 {
    position: absolute;
    left: 900px;
    top: 300px;
}

#btn56 {
    position: absolute;
    left: 1000px;
    top: 300px;
}

#btn57 {
    position: absolute;
    left: 1100px;
    top: 300px;
}

#btn58 {
    position: absolute;
    left: 1200px;
    top: 300px;
}

#btn59 {
    position: absolute;
    left: 1300px;
    top: 300px;
}

#btn60 {
    position: absolute;
    left: 1400px;
    top: 300px;
}

/*row5*/
#btn61 {
    position: absolute;
    left: 0px;
    top: 400px;
}

#btn62 {
    position: absolute;
    left: 100px;
    top: 400px;
}

#btn63 {
    position: absolute;
    left: 200px;
    top: 400px;
}

#btn64 {
    position: absolute;
    left: 300px;
    top: 400px;

}