body, html {
    background-color: #2d2d2d;
    width: 100%;
    height: 100%;
    font-size: 0.8em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", serif;
    color: #ffffff;
}

#turbine {
    width: 70%;
    height: auto;
    position: absolute;
    left: 5%;
    z-index: 99;
}

.turbine {
    width: 100%;
    height: auto;
}

.arrow {
    position: relative;
    top: 5%;
    left: 5%;
    width: 70%;
}