#container{
    width: 500px;
    background-color: #ffffff;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    height: 600px;
}
#container input{
    width: 80px;
    height: 50px;
}
#container #ptb2{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center;
}
#container .title{
    font-size: 30px;
    font-weight: bold;
    color: #3b5998;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
#container #pt_2 button{
    width: 100px;
    height: 50px;
   border-radius: 30px;
   border: none;
   background-color: #3b5998;
   color: #ffffff;
   cursor: pointer;
   box-shadow: 1px 2px 5px #AAA;
   margin-left: 200px;
   margin-top: 20px;
}
#container #pt_2 button .editContent{
font-weight: bold;
font-size: 20px;
}
#container #result {
    margin-top: 20px;
    width: 400px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid grey;
    border-radius: 5px;
    font-size: 20px;
}