body {
    width: 100%;

    font-family: Tahoma, Consolas, Verdana, serif;

}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/*---Dòng 1-Start----------------------------------------------------------------------*/
.containerss {
    width: 1200px;
    margin-left: auto;


}

#section_header_2_dark {
    background-color: #333333;
    height: 80px;
}

#section_header_2_dark .navbar-header {
    float: left;
    text-align: center;
    padding: 22px;

}

#navbar-collapse-02 {
    float: right;

    color: #c9c3c3;
}

#navbar-collapse-02 .nav {
    display: flex;
    list-style: none;

}

#navbar-collapse-02 .nav li {
    padding: 10px;
    text-decoration: none;
    color: #fdbc33;
}

#navbar-collapse-02 .nav li a {

    text-decoration: none;
    color: #d6d7d7;
}

/*---Dòng 1-end----------------------------------------------------------------------*/
/*---Dòng 2-Start----------------------------------------------------------------------*/
#section_pix_4 {

}

#section_pix_4 .section_wrapper {
    text-align: center;
    position: absolute;
    top: 320px;


    width: 100%;


}

#section_pix_4 .section_wrapper .title_style {
    padding-bottom: 30px;
}


#section_pix_4 .section_wrapper .title_style .editContent .pix_text {

    font-size: 50px;
    color: #ffffff;
    font-weight: bolder;

}

#section_pix_4 .subtitle_style {
    width: 660px;

    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}


#section_pix_4 .section_wrapper .subtitle_style .editContent .pix_text {

    font-size: 20px;
    color: #ffffff;
}

#section_pix_4 form {
    width: 510px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    background-color: #130d0d;
    border-radius: 5px;
    line-height: 65px;
    margin-bottom: 40px;
}

#section_pix_4 form input {

    width: 330px;
    height: 35px;
    border-radius: 5px;
    margin-right: 10px;


}

#section_pix_4 form button {

    height: 40px;
    border-radius: 5px;
    background-color: #f1c232;
    color: #ffffff;


}

#section_pix_4 .note_st .pix_text {

    color: #ffffff;


}

/*---Dòng 2-end----------------------------------------------------------------------*/
/*---Dòng 3-Start----------------------------------------------------------------------*/
#section_university_5 {

}


#section_university_5 .sixteen {
    display: flex;
    margin-right: auto;
    margin-left: auto;

}

#section_university_5 .alpha {
    padding: 60px 50px 30px 30px;

}


#section_university_5 .psingle_item {
    display: flex;
    margin-top: 20px;
    padding: 23px;


}

#section_university_5 .text_st {
    margin-top: -30px;
    margin-left: 60px;

}

#section_university_5 .psingle_item .title_st {
    font-size: 23px;
    font-weight: normal;
}

#section_university_5 .psingle_item .subject_st {
    font-size: 17px;
    font-weight: normal;
    line-height: 25px;
    margin-top: -4px;
    width: 380px;
    color: #bbbbbb;
}

#section_university_5 .psingle_item .subject_st {

}

#section_university_5 .omega {
    background-color: #ebeaea;
    text-align: center;
    margin-top: 40px;
    width: 400px;
    height: 600px;
    border-radius: 5px;

}


#section_university_5 .omega .pix_text {
    float: left;


}

#section_university_5 .omega .title-style {
    font-size: 28px;
    padding: 50px 30px 30px 20px;


}

#section_university_5 .omega .text-style .pix_text {

    font-size: 17px;
    padding: 20px 30px 50px 20px;
    color: #bbbbbb;

}

#section_university_5 input {
    height: 50px;
    width: 350px;
    margin: 0px 0px 30px 20px;
}

#section_university_5 select {
    height: 50px;
    width: 358px;
    margin: 0px 0px 30px 20px;
    color: #868383;
}

#section_university_5 button {
    height: 50px;
    width: 358px;
    background-color: #7cc576;
    color: #ffffff;
    font-size: 17px;
    margin: 0px 0px 30px 20px;
    border: #eeeeee;
}

/*---Dòng 3-end----------------------------------------------------------------------*/

/*---Dòng 4-start----------------------------------------------------------------------*/

#section_ecourse_7 {
    margin-top: 80px;
    background-color: #f6f6f6;
    height: 80px;

}

#section_ecourse_7 .alpha {
    float: left;
}

#section_ecourse_7 .alpha .pix_text {
    font-size: 16px;
    text-align: center;
    line-height: 80px;

}

#section_ecourse_7 .alpha .pix_text .rights_st {
    color: #bbbbbb;

}

#section_ecourse_7 .alpha .pix_text .pixfort_st {
    color: #613b92;

}

#section_ecourse_7 .omega {
    float: right;

}

#section_ecourse_7 .socbuttons {
    display: flex;


}

#section_ecourse_7 .socbuttons .pix_text {

    line-height: 80px;
    color: #bbbbbb;

}

#section_ecourse_7 .socbuttons ul {
    margin: 20px;
    display: flex;
    list-style: none;
    background-color: #e9e9e9;
    padding: 10px 15px 10px 0px;
    border-radius: 5px;
}

#section_ecourse_7 .socbuttons ul a {
    color: #bbbbbb;
    margin-left: 20px;
    font-size: 20px;

}

