body {
    font-family: Tahoma, Times, serif;
    font-size: 1rem;
    color: black;
    background-color: #ffffff;
}

/*Dòng 1- start----------------------------------------------------------------------------*/
#section_text_2 {
    background-color: #f3f3f3;
    margin-top: 0px;
}

#section_text_2 .container {
    width: 1200px;
    text-align: center;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    height: 120px;

}

#section_text_2 .container .alpha {
    float: left;
    padding-top: 35px;
}

#section_text_2 .container .omega {
    margin-top: 28px;
    float: right;
    /* padding-top: 28px; */
    width: 156px;
    height: 50px;
    background-color: #f77825;
    border-radius: 5px;
}

#section_text_2 .container .omega .pix_button {
    width: 156px;
    height: 50px;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
}

/*Dòng 1- end----------------------------------------------------------------------------*/
/*Dòng 2- start----------------------------------------------------------------------------*/

#section_header_1 {
    background-color: #ffffff;
}

#section_header_1 .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;

}

#section_header_1 .container .right_socials {
    float: right;
}


#section_header_1 .container #navbar-collapse-02 {
    float: left;

}

#section_header_1 .container .bottom-icons {
    list-style-type: none !important;
}

#section_header_1 .container .bottom-icons li {
    display: inline-block;
    margin-top: 40px;
    margin-left: 30px;

}

#section_header_1 .container .bottom-icons li i {


    font-size: 25px;
    color: #7f7f7c;
}


#section_header_1 .container .navbar-left {
    list-style-type: none !important;
    text-decoration: none;
    overflow: hidden;
    padding: 0px;
    margin-top: -10px;
}

#section_header_1 .container .navbar-left .propClone a {
    text-decoration: none;
    color: #7f7f7f;
}

#section_header_1 .container .navbar-left li {
    margin-top: 40px;
    display: inline-block;
    margin-right: 45px;
    font-size: 16px;
    font-weight: bold;
}

/*Dòng 2- end----------------------------------------------------------------------------*/
/*Dòng 3- start----------------------------------------------------------------------------*/

#section_slider {
    background-color: #eeeeee;
}

#section_slider .container {
    height: 665px;
}

#section_slider .container .sixteen {
    margin-top: 100px;
}

#section_slider .container .sixteen .editContent {
    float: left;
}

#section_slider .container .sixteen .carousel-indicators {
    position: absolute;
    top: 30px;
    left: 1050px;
    height: 30px;

}

#section_slider .container .sixteen .carousel-caption {
    position: absolute;
    float: left;
    top: 330px;
    color: #ffffff;
    left: 20px;
}

/*Dòng 3- end----------------------------------------------------------------------------*/
/*Dòng 4- start----------------------------------------------------------------------------*/


#section_gym_4 {
    background-color: #ffffff;
}

#section_gym_4 .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    height: 588px;
}

#section_gym_4 .container .column {
    float: left;
    margin-top: 100px;
    width: 370px;
    margin-left: 15px;
    text-align: center;
    height: 463px;
}

#section_gym_4 .container .column .logo_style {
    border-radius: 200px;
    width: 254px;
    height: 254px;
}

#section_gym_4 .container .column .gym_st {
    color: black;
    font-weight: bold;
    font-size: 23px;
}

#section_gym_4 .container .column .gym_text {
    color: #b5b7c5;
    width: 280px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
}

#section_gym_4 .container .column .pix_text {
    width: 125px;
    height: 45px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #ff8833;
    color: #ffffff;
    border-radius: 4px;
    font-size: 18px;
    text-decoration: none;

}

/*Dòng 4- end----------------------------------------------------------------------------*/
/*Dòng 5- start----------------------------------------------------------------------------*/
#section_intro_title {
    background-color: #f3f3f3;
}

#section_intro_title .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    height: 585px;
    padding-top: 15px;
}

#section_intro_title .container .column {
    width: 370px;
    height: 520px;
    float: left;
    border: 5px solid #dddddd;
    margin-left: 15px;
    text-align: center;

    background-color: #ffffff;
}

#section_intro_title .container .column .flat_pricing_list {
    list-style-type: none !important;
    padding-left: 0px;
    padding-bottom: 40px;
}

#section_intro_title .container .column .big_title {
    font-size: 70px;
    margin-top: 30px;
    margin-bottom: 25px;
}

#section_intro_title .container .column .blue_text {
    color: #2dc0e8;
}

#section_intro_title .container .column .orange {
    color: #f77825;
}

#section_intro_title .container .column .light_gray {
    color: #999999;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 0px;
}

#section_intro_title .container .column .pix_text {
    margin-bottom: 20px;
}

#section_intro_title .container .column .pix_button {
    margin-top: 20px;
    width: 220px;
    height: 68px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 23px;
    padding-right: 23px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
}

#section_intro_title .container .column .orange_bg {
    background-color: #f77825;
}

#section_intro_title .container .column .blue_bg {
    background-color: #2dc0e8;
}

/*Dòng 5- end----------------------------------------------------------------------------*/
/*Dòng 6- start----------------------------------------------------------------------------*/
#section_party_3 {
    background-color: #191919;
    height: 735px;
    padding-top: 90px;
}

#section_party_3 .container {
    width: 565px;
    height: 560px;
    margin-left: auto;
    margin-right: auto;
    background-color: #151515;
    border: 2px solid #191919;
    box-shadow: 0px 0px 3px 3px rgba(238, 230, 230, 0.42);
}

#section_party_3 .container .headtext_style {
    text-align: center;
    color: #f3f3f3;
    margin-top: 65px;
    font-size: 30px;

}

#section_party_3 .them {
    background-color: #1c96ff;
    height: 10px;
    width: 110px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    border-radius: 1px;
}

#section_party_3 .container .subtext_style {
    color: #767676;
    font-size: 23px;
    width: 395px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 62px;
    margin-top: 30px;
}

#section_party_3 .container .contact_st {

    text-align: center;
}

#section_party_3 .container .contact_st input {
    width: 490px;
    height: 65px;
    margin-bottom: 20px;
    margin-left: 22px;
    border-radius: 3px;
    font-size: 20px;
    padding-left: 20px;
}

#section_party_3 .container .contact_st #submit_btn_15 {
    width: 490px;
    height: 65px;
    margin-left: 22px;
    background-color: #287ce9;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/*Dòng 6-end----------------------------------------------------------------------------*/

/* footer------------------------------------------------------------------------------------ */
#section_party_4 {
    background-color: #151515;
}

#section_party_4 .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: #f3f3f3;
    overflow: auto;
    height: 85px;
}

#section_party_4 .container .alpha {
    float: left;
    width: 50%;
    padding-top: 40px;
}

#section_party_4 .container .omega {
    float: right;
    width: 50%;
}

#section_party_4 .container .alpha .pix_text {
    font-size: 18px;
}

#section_party_4 .container .alpha .rights_st {
    color: #899489;
}

#section_party_4 .container .alpha .pixfort_st {
    color: #1b8ff5;
}

#section_party_4 .container .omega .socbuttons {
    overflow: auto;
}

#section_party_4 .container .omega .socbuttons .soc_icons {
    float: right;
}

#section_party_4 .container .omega .socbuttons .soc_icons .bottom-icons {
    list-style-type: none !important;
}

#section_party_4 .container .omega .socbuttons .soc_icons .bottom-icons li {
    display: inline-block;
    margin-top: 37px;
    margin-left: 20px;


}

#section_party_4 .container .omega .socbuttons .soc_icons .bottom-icons li i {
    font-size: 25px;
    color: #bbbbbb;


}

#section_party_4 .container .omega .socbuttons .likes_st {
    float: left;
    margin-top: 40px;
    margin-left: 130px;

    color: #899489;
    font-size: 18px;
}

/* footer------------------------------------------------------------------------------------ */