.breadcrumbs {
    padding: 1.5em 0;
    background: #f5f5f5;
  }
  
  .breadcrumb {
    margin-bottom: 0 !important;
    padding: 0 !important;
  }
  
  .breadcrumb1 li {
    font-size: 1em;
    color: #999;
  }
  
  .breadcrumb1 li a {
    color: var(--bg-primary);
    text-decoration: none;
  }

#profile  ul {
    display: flex;
}

#profile  ul li{
    list-style-type: none;
}

#profile  .right .avatar {
    display: flex;
}

#profile  .right .avatar .left{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

#profile  .right .avatar .left img{
    border-radius: 50px;
    object-fit: cover;
}


.img-account-profile {
    height: 10rem;
    object-fit: cover;
}

.rounded-circle {
    border-radius: 50% !important;
}

.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}

.left .card{
    position: relative;
    background-color: #25235c;
    color: #fff;  
    border-radius: 24px;
    font-size: 16px;
    box-shadow: rgb(0 0 0 / 35%) 8px 8px 10px;
    border:none;
} 

.left .card::after{
    position: absolute;
    display: block;
    background-color: #f7e01d;
    content: "";
    width: 105%;
    height: 12px;
    bottom: -8px;
    left: -10px;
    border-radius: 24px;
}

.left .card .card-header:after{
    position: absolute;
    width: 100%;
    display: block;
    content: "";
    left: 0;
    margin: 12px 0;
    border: 0.2px solid #f0f0f0;
}

.left .card .card-body div{
    margin: 12px;
}

.left .card i{
    margin-right: 12px;
}

.card .card-header {
    font-weight: 500;
}

.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}

.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}

.card-body{
    padding: 24px;
}

.nav-borders .nav-link.active {
    color: var(--bg-primary);
    border-bottom-color:  var(--bg-primary);
}

.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}