.content .signup .container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

.content .signup .container .signin-left {
  border-right: 1px solid #ccc;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .signup .container .signin-left .sign-title {
  padding-bottom: 70px;
}

.content .signup .container .signin-left .sign-title h1 {
  font-size: 40px;
  font-weight: 700;
  position: relative;
}

.content .signup .container .signin-left .sign-title h1::after {
  position: absolute;
  content: "";
  background: #000;
  display: block;
  width: 60px;
  height: 4px;
  margin-top: 30px;
}

.content .signup .container .signin-right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 15px 50px 50px;
}

.content .signup .container .signin-right form .form-control1 {
  margin-bottom: 30px;
}

.content .signup .container .signin-right form .form-control1 input {
  width: 100%;
  width: 100%;
  height: 55px;
  border: 1px solid transparent;
  background: #ededed;
  color: #272727;
  padding: 0 20px;
  font-weight: 500;
}

.content .signup .container .signin-right form .form-control1 input:focus {
  outline: none;
  background: #fff;
  border-color: #ededed;
}

.content .signup .container .signin-right form .sex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .signup .container .signin-right form .sex .male,
.content .signup .container .signin-right form .sex .female {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .signup .container .signin-right form .sex .male label,
.content .signup .container .signin-right form .sex .female label {
  margin: initial;
  margin-left: 5px;
  cursor: pointer;
  font-weight: 700;
}

.content .signup .container .signin-right form .sex .male [type="radio"]:checked,
.content .signup .container .signin-right form .sex .male [type="radio"]:not(:checked),
.content .signup .container .signin-right form .sex .female [type="radio"]:checked,
.content .signup .container .signin-right form .sex .female [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.content .signup .container .signin-right form .sex .male [type="radio"]:checked + label,
.content .signup .container .signin-right form .sex .male [type="radio"]:not(:checked) + label,
.content .signup .container .signin-right form .sex .female [type="radio"]:checked + label,
.content .signup .container .signin-right form .sex .female [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

.content .signup .container .signin-right form .sex .male [type="radio"]:checked + label:before,
.content .signup .container .signin-right form .sex .male [type="radio"]:not(:checked) + label:before,
.content .signup .container .signin-right form .sex .female [type="radio"]:checked + label:before,
.content .signup .container .signin-right form .sex .female [type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

.content .signup .container .signin-right form .sex .male [type="radio"]:checked + label:after,
.content .signup .container .signin-right form .sex .male [type="radio"]:not(:checked) + label:after,
.content .signup .container .signin-right form .sex .female [type="radio"]:checked + label:after,
.content .signup .container .signin-right form .sex .female [type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #000000;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.content .signup .container .signin-right form .sex .male [type="radio"]:not(:checked) + label:after,
.content .signup .container .signin-right form .sex .female [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.content .signup .container .signin-right form .sex .male [type="radio"]:checked + label:after,
.content .signup .container .signin-right form .sex .female [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.content .signup .container .signin-right form .recaptcha {
  color: #9e9e9e;
  text-align: left;
  font-size: 13px;
}

.content .signup .container .signin-right form .recaptcha a {
  color: #2962ff;
}

.content .signup .container .signin-right form .submit {
  display: inline-block;
  /* margin: 50px; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 30px;
  color: black;
  font-weight: bold;
  position: relative;
  border: 1px solid #1D273E;
  background-color: #1D273E;
  cursor: pointer;
}

.content .signup .container .signin-right form .submit p {
  margin: initial;
  padding: initial;
  color: #fff;
  z-index: 10;
  font-weight: 700;
  font-size: 16px;
}

.content .signup .container .signin-right form .submit:before {
  content: "";
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  width: 0;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 9;
}

.content .signup .container .signin-right form .submit:hover:before {
  width: 100%;
  left: 0;
  right: auto;
  background-color: #F28102;
}

.content .signup .container .signin-right form .submit:hover p {
  color: white;
  z-index: 10;
  position: relative;
}

.content .signup .container .signin-right form .backto {
  margin-top: 35px;
  display: block;
  font-weight: 600;
  color: #272727;
  cursor: pointer;
}


.content .signup .container .signin-right form .backto a {
  color: #272727;
}

.content .signup .container .signin-right form .backto a:hover {
  text-decoration: none;
  color: #F28102;
}

.content .signup .container .signin-right form .backto i {
  margin-right: 20px;
}

@media only screen and (max-width: 768px) {
  .content .signup .container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: initial;
    padding: initial;
  }
  .content .signup .container .signin-left {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 15px;
    border-bottom: 1px solid #ededed;
  }
  .content .signup .container .signin-left .sign-title {
    padding-bottom: initial;
  }
  .content .signup .container .signin-left .sign-title h1 {
    font-size: 20px;
    font-weight: 500;
    position: relative;
  }
  .content .signup .container .signin-left .sign-title h1::after {
    position: absolute;
    content: "";
    background: #000;
    display: block;
    width: 60px;
    height: 3px;
    margin-top: 20px;
    left: 30px;
  }
  .content .signup .container .signin-right {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: initial;
    padding: 15px;
  }
  .content .signup .container .signin-right form .form-control1 {
    margin-bottom: 30px;
  }
  .content .signup .container .signin-right form .form-control1 input {
    height: 55px;
    border: 1px solid transparent;
    background: #ededed;
    color: #272727;
    padding: 0 20px;
    font-weight: 500;
  }
  .content .signup .container .signin-right form .form-control1 input:focus {
    outline: none;
    background: #fff;
    border-color: #ededed;
  }
  .content .signup .container .signin-right form .recaptcha {
    color: #9e9e9e;
    text-align: left;
    font-size: 13px;
  }
  .content .signup .container .signin-right form .recaptcha a {
    color: #2962ff;
  }
  .content .signup .container .signin-right form .submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content .signup .container .signin-right form .backto {
    margin-top: 35px;
    display: block;
    font-weight: 600;
    color: #272727;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.content .signin .container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

.content .signin .container .signin-left {
  border-right: 1px solid #ccc;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .signin .container .signin-left .sign-title {
  padding-bottom: 70px;
}

.content .signin .container .signin-left .sign-title h1 {
  font-size: 40px;
  font-weight: 700;
  position: relative;
}

.content .signin .container .signin-left .sign-title h1::after {
  position: absolute;
  content: "";
  background: #000;
  display: block;
  width: 60px;
  height: 4px;
  margin-top: 30px;
}

.content .signin .container .signin-right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 15px 50px 50px;
}

.content .signin .container .signin-right form h2 {
  font-size: 20px;
  margin: 0 0 20px;
  font-weight: 600;
}

.content .signin .container .signin-right form .form-control1 {
  margin-bottom: 30px;
}

.content .signin .container .signin-right form .form-control1 input {
  width: 100%;
  width: 100%;
  height: 55px;
  border: 1px solid transparent;
  background: #ededed;
  color: #272727;
  padding: 0 20px;
  font-weight: 500;
}

.content .signin .container .signin-right form .form-control1 input:focus {
  outline: none;
  background: #fff;
  border-color: #ededed;
}

.content .signin .container .signin-right form .recaptcha {
  color: #9e9e9e;
  text-align: left;
  font-size: 13px;
}

.content .signin .container .signin-right form .recaptcha a {
  color: #2962ff;
}

.content .signin .container .signin-right form .submit {
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: all 1s;
  transition: all 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.content .signin .container .signin-right form .submit .forgetpassword {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 130px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 20px;
}

.content .signin .container .signin-right form .submit .forgetpassword p {
  color: black;
  text-decoration: none;
  font-weight: 500;
  padding: initial;
  margin: initial;
  margin-right: 10px;
}

.content .signin .container .signin-right form .submit .forgetpassword a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  padding: initial;
  margin: initial;
  margin-left: 10px;
}

.content .signin .container .signin-right form .submit input {
  display: inline-block;
  border-radius: 0;
  padding: 0 30px;
  height: 45px !important;
  line-height: 45px;
  text-transform: uppercase;
  font-weight: 600;
  background: transparent;
  color: white;
  background-color: #1D273E;
  font-weight: 700;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.content .signin .container .signin-right form .submit:hover {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform-origin: right center;
          transform-origin: right center;
}

.content .signin .container .signin-right form .submit:hover input {
  color: white;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  background-color: #F28102;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  border: 1px solid #F28102;
}

@media only screen and (max-width: 768px) {
  .content .signin .container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    margin: initial;
    padding: initial;
  }
  .content .signin .container .signin-left {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 15px;
    border-bottom: 1px solid #ededed;
  }
  .content .signin .container .signin-left .sign-title {
    padding-bottom: initial;
  }
  .content .signin .container .signin-left .sign-title h1 {
    font-size: 20px;
    font-weight: 500;
    position: relative;
  }
  .content .signin .container .signin-left .sign-title h1::after {
    position: absolute;
    content: "";
    background: #000;
    display: block;
    width: 60px;
    height: 3px;
    margin-top: 20px;
    left: 30px;
  }
  .content .signin .container .signin-right {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: initial;
    padding: 15px;
  }
  .content .signin .container .signin-right form .form-control1 {
    margin-bottom: 30px;
  }
  .content .signin .container .signin-right form .form-control1 input {
    height: 55px;
    border: 1px solid transparent;
    background: #ededed;
    color: #272727;
    padding: 0 20px;
    font-weight: 500;
  }
  .content .signin .container .signin-right form .form-control1 input:focus {
    outline: none;
    background: #fff;
    border-color: #ededed;
  }
  .content .signin .container .signin-right form .recaptcha {
    color: #9e9e9e;
    text-align: left;
    font-size: 13px;
  }
  .content .signin .container .signin-right form .recaptcha a {
    color: #2962ff;
  }
  .content .signin .container .signin-right form .submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content .signin .container .signin-right form .backto {
    margin-top: 35px;
    display: block;
    font-weight: 600;
    color: #272727;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#b-sign {
  display: none;
}
/*# sourceMappingURL=sign.css.map */