.body {

}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/*Dòng 1 - start-------------------------------------------------------------*/
#section_text_2 {
    height: 80px;
    background-color: #f3f3f3;

}

#section_text_2 .alpha {
    float: left;
    line-height: 100px;
}

#section_text_2 .omega {
    float: right;
    text-decoration: none;
    line-height: 80px;
}

#section_text_2 .omega a {
    text-decoration: none;
    background-color: #1c7430;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    color:#ffffff ;
}


/*Dòng 1 - end-------------------------------------------------------------*/